<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 3.2 Final//EN">
<html>
 <head>
  <title>Index of {{.Path}}</title>
 </head>
 <body>
<h1>Index of {{.Path}}</h1>
  <table>
   <tr><th valign="top"><img src="/icons/blank.gif" alt="[ICO]"></th><th><a href="?C=N;O=D">Name</a></th><th><a href="?C=M;O=A">Last modified</a></th><th><a href="?C=S;O=A">Size</a></th><th><a href="?C=D;O=A">Description</a></th></tr>
   <tr><th colspan="5"><hr></th></tr>
{{- if ne .Path "/"}}
<tr><td valign="top"><img src="/icons/back.gif" alt="[PARENTDIR]"></td><td><a href="/">Parent Directory</a></td><td>&nbsp;</td><td align="right">  - </td><td>&nbsp;</td></tr>
{{- end}}
{{- range .Dirs}}
<tr><td valign="top"><img src="/icons/folder.gif" alt="[DIR]"></td><td><a href="{{.}}/">{{.}}/</a></td><td align="right">{{$.Modified .}}  </td><td align="right">  - </td><td>&nbsp;</td></tr>
{{- end}}
   <tr><th colspan="5"><hr></th></tr>
</table>
</body></html>
